@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-link-chain:before {
  content: "\e900";
}

._icon-select-arrow:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-daytheme:before {
  content: "\e903";
}

._icon-nighttheme:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

._icon-habr:before {
  content: "\e906";
}

._icon-telegram:before {
  content: "\e907";
}

._icon-github:before {
  content: "\e908";
}

._icon-vk:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #42446e;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.theme_dark {
  background: #1c1b22;
  color: #fff;
}

.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

body {
  -webkit-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.first-load {
  -webkit-transition: all 0s 0s !important;
  -o-transition: all 0s 0s !important;
  transition: all 0s 0s !important;
}

.first-load * {
  -webkit-transition: all 0s 0s !important;
  -o-transition: all 0s 0s !important;
  transition: all 0s 0s !important;
}

@-webkit-keyframes gradientDark {
  0% {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), color-stop(150%, #42446e));
    background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  100% {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #38c71f), color-stop(150%, #42446e));
    background: linear-gradient(90deg, #38c71f -2.06%, #42446e 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@keyframes gradientDark {
  0% {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), color-stop(150%, #42446e));
    background: -o-linear-gradient(left, #2e9f32 -2.06%, #42446e 150%);
    background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  100% {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #38c71f), color-stop(150%, #42446e));
    background: -o-linear-gradient(left, #38c71f -2.06%, #42446e 150%);
    background: linear-gradient(90deg, #38c71f -2.06%, #42446e 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@-webkit-keyframes gradientHover {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 145%;
    background-position: 10%;
  }
}

@keyframes gradientHover {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 145%;
    background-position: 10%;
  }
}

@-webkit-keyframes gradientHoverReverse {
  0% {
    background-size: 145%;
    background-position: 10%;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes gradientHoverReverse {
  0% {
    background-size: 145%;
    background-position: 10%;
  }

  100% {
    background-size: 100%;
  }
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), to(#42446e));
  background: -o-linear-gradient(left, #2e9f32 -2.06%, #42446e 100%);
  background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 100%);
  -webkit-background-clip: text;
  -webkit-animation: gradientHoverReverse 0.3s forwards;
          animation: gradientHoverReverse 0.3s forwards;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 2;
}

.theme_light .logo {
  -webkit-animation: gradientHoverReverse 0.5s forwards;
          animation: gradientHoverReverse 0.5s forwards;
}

.theme_light .logo:hover {
  -webkit-animation: gradientHover 0.5s forwards;
          animation: gradientHover 0.5s forwards;
}

.theme_dark .logo {
  -webkit-animation: gradientDark 0.5s forwards;
          animation: gradientDark 0.5s forwards;
}

.headline-text {
  font-size: 3.625rem;
  line-height: 1.2;
  font-weight: 700;
  max-width: 36.625rem;
}

.gradient-highlight {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), to(#42446e));
  background: -o-linear-gradient(left, #2e9f32 -2.06%, #42446e 100%);
  background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.theme_dark .gradient-highlight {
  -webkit-animation: gradientDark 0s forwards;
          animation: gradientDark 0s forwards;
}

.emoji {
  position: relative;
  color: transparent;
  font-size: 1em;
}

.emoji::before {
  content: "👋";
}

.emoji img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.round-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.round-button {
  display: block;
  width: 2.125rem;
  height: 2.125rem;
  font-size: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: relative;
  outline: 2px solid #42446e;
  -webkit-transition: color 0.3s, background 0.3s, outline 0.3s, border 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, background 0.3s, outline 0.3s, border 0.3s, -webkit-transform 0.3s;
  -o-transition: color 0.3s, background 0.3s, outline 0.3s, border 0.3s, transform 0.3s;
  transition: color 0.3s, background 0.3s, outline 0.3s, border 0.3s, transform 0.3s;
  transition: color 0.3s, background 0.3s, outline 0.3s, border 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.theme_dark .round-button {
  outline: 2px solid #bdbdc9;
  background: #bdbdc9;
  color: #1c1b22;
}

.round-button::before {
  -webkit-transition: color 0.3s, background 0.3s, outline 0.3s;
  -o-transition: color 0.3s, background 0.3s, outline 0.3s;
  transition: color 0.3s, background 0.3s, outline 0.3s;
  border-radius: 50%;
}

.round-button:hover {
  background: #42446e;
  -webkit-transition: color 0.3s, background 0.3s, outline 0.3s;
  -o-transition: color 0.3s, background 0.3s, outline 0.3s;
  transition: color 0.3s, background 0.3s, outline 0.3s;
  outline: 2px solid #31903c;
}

.theme_dark .round-button:hover {
  outline: 2px solid #fff;
  background: #1c1b22;
  color: #bdbdc9;
}

.round-button:hover::before {
  color: #fff;
  background: #31903c;
}

.theme_dark .round-button:hover::before {
  background: #1c1b22;
  color: #fff;
  -webkit-transition: color 0.3s, background 0.3s, outline 0s, border 0.3s !important;
  -o-transition: color 0.3s, background 0.3s, outline 0s, border 0.3s !important;
  transition: color 0.3s, background 0.3s, outline 0s, border 0.3s !important;
}

.round-button_filled {
  outline: 2px solid #42446e;
  background: #42446e;
  color: #fff;
}

.round-button_filled::before {
  background: #42446e;
}

.round-button_filled:hover {
  color: #42446e;
  background: #fff;
}

.round-button_filled:hover::before {
  color: #42446e;
  background: #fff;
}

.language-select {
  height: 2.3125rem;
  width: 2.3125rem;
  border-radius: 50%;
  font-size: 1.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 3;
  -webkit-transition: color 0.2s background 0.2s;
  -o-transition: color 0.2s background 0.2s;
  transition: color 0.2s background 0.2s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.language-select:hover {
  color: #42446e;
  background: #fff;
}

.theme_dark .language-select:hover {
  background: #bdbdc9;
  color: #1c1b22;
}

.language-select__input {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.language-select__button {
  text-transform: capitalize;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  overflow: hidden;
  padding: 0 5px;
  -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
  -o-transition: color 0.2s, background 0.2s, border 0.2s;
  transition: color 0.2s, background 0.2s, border 0.2s;
  border: 2px #42446e solid;
  background: #fff;
}

.theme_dark .language-select__button {
  border: 2px #bdbdc9 solid;
  background: #bdbdc9;
  color: #1c1b22;
}

.theme_dark ._opened .language-select__button {
  border: 2px #fff solid;
}

.language-select__button:hover {
  border: 2px #31903c solid;
  color: #fff;
  background: #31903c;
}

.theme_dark .language-select__button:hover {
  border: 2px #fff solid;
  background: #1c1b22;
  color: #fff;
}

._opened .language-select__button::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.language-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 0px;
  max-height: 0px;
  overflow: hidden;
  visibility: hidden;
  color: #42446e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -1.0625rem;
  border: 2px #42446e solid;
  -webkit-transition: margin 0.3s, width 0s 0.3s, visibility 0s 0.3s, border 0s 0.3s, max-height 0s 0.3s, background 0.2s, color 0.2s, border 0.2s;
  -o-transition: margin 0.3s, width 0s 0.3s, visibility 0s 0.3s, border 0s 0.3s, max-height 0s 0.3s, background 0.2s, color 0.2s, border 0.2s;
  transition: margin 0.3s, width 0s 0.3s, visibility 0s 0.3s, border 0s 0.3s, max-height 0s 0.3s, background 0.2s, color 0.2s, border 0.2s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom-left-radius: 1.0625rem;
  border-bottom-right-radius: 1.0625rem;
}

.theme_dark .language-select__options {
  background: #bdbdc9;
  color: #1c1b22;
  border: 2px #fff solid;
}

._opened .language-select__options {
  width: 100%;
  visibility: visible;
  -webkit-transition: margin 0.3s, width 0s, visibility 0s, border 0.2s, max-height 0s, background 0.2s, color 0.2s;
  -o-transition: margin 0.3s, width 0s, visibility 0s, border 0.2s, max-height 0s, background 0.2s, color 0.2s;
  transition: margin 0.3s, width 0s, visibility 0s, border 0.2s, max-height 0s, background 0.2s, color 0.2s;
  max-height: 1000000000000px;
}

.language-select__options_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.language-select__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.3125rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.2s, color 0.2s, border 0.2s, margin-top 0.1s;
  -o-transition: background 0.2s, color 0.2s, border 0.2s, margin-top 0.1s;
  transition: background 0.2s, color 0.2s, border 0.2s, margin-top 0.1s;
  margin-top: -2.1875rem;
}

.theme_dark .language-select__option {
  background: #bdbdc9;
  color: #1c1b22;
}

.language-select__option:not(:first-child) {
  border-top: 2px #42446e solid;
}

.theme_dark .language-select__option:not(:first-child) {
  border-top: 2px #fff solid;
}

.language-select__option + ._opened {
  border-top: 0px;
}

.theme_dark .language-select__option + ._opened {
  border-top: 0px;
}

._opened .language-select__option {
  margin-top: 0rem;
}

.language-select__option:hover {
  background: #31903c;
  color: #fff;
}

.theme_dark .language-select__option:hover {
  background: #1c1b22;
  color: #fff;
}

.language-select ._first-visible-child {
  padding-top: 0.9375rem;
}

._option-selected {
  display: none;
  visibility: hidden;
  opacity: 0;
  border-bottom: 0px !important;
}

.theme-button {
  width: 2.125rem;
  height: 2.125rem;
  outline: 0px transparent;
  font-size: 2.125rem;
}

.theme-button:hover {
  outline: 0px transparent;
}

.theme_dark .theme-button:hover {
  background: #bdbdc9;
}

.theme-button::before {
  border: 2px solid #42446e;
  outline: 0px transparent;
}

.theme_dark .theme-button::before {
  border: 2px solid #bdbdc9;
}

.theme-button:hover::before {
  border: 2px solid #31903c;
  background: #31903c;
  outline: 0px transparent;
}

.theme_dark .theme-button:hover::before {
  background: #1c1b22;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}

.subtitle {
  font-weight: 400;
  font-size: 2rem;
  color: #666666;
  line-height: 1.2;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .subtitle {
  color: #bdbdc9;
}

.subtitle__link {
  font-weight: 700;
  -webkit-transition: font-weight 0.3s, color 0.3s;
  -o-transition: font-weight 0.3s, color 0.3s;
  transition: font-weight 0.3s, color 0.3s;
}

.subtitle__link:hover {
  color: #31903c;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .subtitle__link {
  color: #bdbdc9;
}

.theme_dark .subtitle__link:hover {
  color: #fff;
}

.theme_dark .subtitle__link {
  font-weight: 800;
}

.headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.headings__title:not(:last-child) {
  margin-bottom: 0.8333333333em;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.feedback-form {
  position: relative;
  z-index: 1;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.theme_dark .feedback-form {
  background: #2b2a33;
}

.feedback-form::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s, background 0.5s, width 0s 0.5s, height 0s 0.5s;
  -o-transition: opacity 0.5s, background 0.5s, width 0s 0.5s, height 0s 0.5s;
  transition: opacity 0.5s, background 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.feedback-form__status-img {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  -webkit-animation: feedbackFormStatusImageShrink 0.3s;
          animation: feedbackFormStatusImageShrink 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@-webkit-keyframes feedbackFormStatusImageShrink {
  0% {
    height: 70px;
    width: 70px;
  }

  100% {
    height: 40px;
    width: 40px;
  }
}

@keyframes feedbackFormStatusImageShrink {
  0% {
    height: 70px;
    width: 70px;
  }

  100% {
    height: 40px;
    width: 40px;
  }
}

.feedback-form__status-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feedback-form__wrapper {
  padding: 50px;
  width: 100%;
}

.feedback-form__items {
  font-size: 1.125rem;
}

.feedback-form__items:not(:last-child) {
  margin-bottom: 1.3888888889em;
}

.feedback-form__item {
  font-size: 1.125rem;
}

.feedback-form__item:not(:last-child) {
  margin-bottom: 1.3888888889em;
}

.feedback-form__button {
  background: #31903c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  font-size: 0.875rem;
  line-height: 1.1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.1;
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s, height 0.3s, -webkit-transform 0.2s;
  transition: background 0.3s, height 0.3s, -webkit-transform 0.2s;
  -o-transition: background 0.3s, height 0.3s, transform 0.2s;
  transition: background 0.3s, height 0.3s, transform 0.2s;
  transition: background 0.3s, height 0.3s, transform 0.2s, -webkit-transform 0.2s;
}

.feedback-form__button:hover {
  background: #42446e;
}

.feedback-form__button:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

._form-sent .feedback-form__button {
  background: #42446e;
}

._form-sent .feedback-form__button:hover {
  background: #31903c;
}

._form-sending .feedback-form__button {
  background: #6c6c00;
}

._confirm-sending .feedback-form__button {
  background: #6c6c00;
}

._confirm-sending .feedback-form__button:hover {
  background: #888800;
}

.item-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.125rem;
  position: relative;
}

.item-form__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.1;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .item-form__title {
  color: #fff;
}

.item-form__title:not(:last-child) {
  margin-bottom: 0.5555555556em;
}

.item-form__line {
  font-size: 1rem;
  line-height: 1.1;
  border: 2px solid #6d73c9;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  -webkit-transition: border 0.3s, color 0.3s, background 0.3s;
  -o-transition: border 0.3s, color 0.3s, background 0.3s;
  transition: border 0.3s, color 0.3s, background 0.3s;
}

.theme_dark .item-form__line {
  background: #2b2a33;
  color: #fff;
  border: 2px solid #535353;
}

[class*=error] .item-form__line {
  border: 2px solid #ff1e1e;
}

.item-form__textarea {
  font-size: 1rem;
  line-height: 1.1;
  border: 2px solid #6d73c9;
  border-radius: 10px;
  padding: 15px;
  resize: vertical;
  width: 100%;
  min-height: 150px;
  -webkit-transition: border 0.3s, color 0.3s, background 0.3s;
  -o-transition: border 0.3s, color 0.3s, background 0.3s;
  transition: border 0.3s, color 0.3s, background 0.3s;
  max-height: 500px;
}

.theme_dark .item-form__textarea {
  background: #2b2a33;
  color: #fff;
  border: 2px solid #535353;
}

[class*=error] .item-form__textarea {
  border: 2px solid #ff1e1e;
}

.input-error-message {
  font-size: 0.75rem;
  margin-top: 3px;
  line-height: 1.1;
  color: #ff1e1e;
  display: none;
}

.input-error-message_blank {
  display: none;
}

._blank-error .input-error-message_blank {
  display: block;
}

.input-error-message_email {
  display: none;
}

._email-error .input-error-message_email {
  display: block;
}

._form-sending {
  overflow: hidden;
}

._form-sending::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/feedback-form/loading.svg) center/70px 70px no-repeat;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s, background-color 0.3s;
  -o-transition: opacity 0.5s, background-color 0.3s;
  transition: opacity 0.5s, background-color 0.3s;
  z-index: 2;
}

.theme_dark ._form-sending::after {
  background-color: #1c1b22;
}

._form-sending .item-form__line {
  border: 2px solid #6c6c00;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}

._form-sending .item-form__textarea {
  border: 2px solid #6c6c00;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}

._form-sent-error .feedback-form__error-img {
  opacity: 1;
  -webkit-animation: feedbackFormStatusImageGrow forwards 0.3s;
          animation: feedbackFormStatusImageGrow forwards 0.3s;
  visibility: visible;
}

._form-sent-error::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s, background-color 0.3s, background 0.5s;
  -o-transition: opacity 0.5s, background-color 0.3s, background 0.5s;
  transition: opacity 0.5s, background-color 0.3s, background 0.5s;
  z-index: 2;
}

.theme_dark ._form-sent-error::after {
  background-color: #1c1b22;
}

._form-sent-error .feedback-form__button {
  font-size: 0;
  z-index: 1;
  background: #ff1e1e;
}

._form-sent-error .feedback-form__button::before {
  content: "Ошибка отправки";
  font-size: 1.125rem;
}

._form-sent-error .feedback-form__button span {
  display: none;
}

._form-sent-success .feedback-form__success-img {
  opacity: 1;
  -webkit-animation: feedbackFormStatusImageGrow forwards 0.3s;
          animation: feedbackFormStatusImageGrow forwards 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  visibility: visible;
}

@-webkit-keyframes feedbackFormStatusImageGrow {
  0% {
    height: 40px;
    width: 40px;
  }

  100% {
    height: 70px;
    width: 70px;
  }
}

@keyframes feedbackFormStatusImageGrow {
  0% {
    height: 40px;
    width: 40px;
  }

  100% {
    height: 70px;
    width: 70px;
  }
}

._form-sent-success::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s, background-color 0.3s, background 0.5s;
  -o-transition: opacity 0.5s, background-color 0.3s, background 0.5s;
  transition: opacity 0.5s, background-color 0.3s, background 0.5s;
  z-index: 2;
}

.theme_dark ._form-sent-success::after {
  background-color: #1c1b22;
}

._form-sent-success .feedback-form__button {
  z-index: 1;
  background: #31903c;
}

._form-sent-success .item-form__line {
  border: 2px solid #31903c;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}

._form-sent-success .item-form__textarea {
  border: 2px solid #31903c;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}

._content-sent {
  display: none;
}

._form-sent ._content-sent {
  display: inline;
}

._confirm-sending ._content-sent {
  display: none;
}

._form-sending ._content-sent {
  display: none;
}

._form-sent-success ._content-sent {
  display: none;
}

._content-sent-succesfuly {
  display: none;
}

._form-sent-success ._content-sent-succesfuly {
  display: inline;
}

._content-confirm {
  display: none;
}

._confirm-sending ._content-confirm {
  display: inline;
}

._form-sending ._content-confirm {
  display: none;
}

._content-sending {
  display: none;
}

._form-sending ._content-sending {
  display: inline;
}

._content-not-sent {
  display: inline;
}

._form-sent ._content-not-sent {
  display: none;
}

._form-sending ._content-not-sent {
  display: none;
}

.footer_iframe {
  display: none;
}

.survey__label {
  font-size: 40px;
}

.icon-menu {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.icon-menu:hover span {
  background-size: 250%;
  background-position: 100%;
}

.theme_dark .icon-menu:hover span {
  background-position: 0%;
  background-size: 600%;
}

.icon-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2b2d47), color-stop(150%, #2e9f32));
  background: -o-linear-gradient(left, #2b2d47 -2.06%, #2e9f32 150%);
  background: linear-gradient(90deg, #2b2d47 -2.06%, #2e9f32 150%);
  background-position: 50%;
  background-size: 150%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out, background 0.5s;
  -o-transition: 0.2s ease-in-out, background 0.5s;
  transition: 0.2s ease-in-out, background 0.5s;
}

.theme_dark .icon-menu span {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), color-stop(150%, #42446e));
  background: -o-linear-gradient(left, #2e9f32 -2.06%, #42446e 150%);
  background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 150%);
  background-size: 100%;
}

.icon-menu span:nth-child(1) {
  top: 0px;
}

._menu-open .icon-menu span:nth-child(1) {
  top: 15px;
  left: 50%;
  width: 0%;
}

.icon-menu span:nth-child(2),
.icon-menu span:nth-child(3) {
  top: 15px;
}

.icon-menu span:nth-child(4) {
  top: 30px;
}

._menu-open .icon-menu span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

._menu-open .icon-menu span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

._menu-open .icon-menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__container {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.menu-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.1111111111em;
}

.menu-header__list a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.menu-header__list a:hover {
  color: #31903c;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .menu-header__list {
  color: #bdbdc9;
}

.theme_dark .menu-header__list a:hover {
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  min-height: 120px;
  padding: 20px 0;
  position: relative;
}

.footer__row_underlined::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  bottom: -2px;
  height: 3px;
  background: #42446e;
  opacity: 0.2;
  z-index: 3;
  -webkit-transition: background 0.3s, opacity 0.3s;
  -o-transition: background 0.3s, opacity 0.3s;
  transition: background 0.3s, opacity 0.3s;
}

.theme_dark .footer__row_underlined::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), color-stop(200%, #42446e));
  background: -o-linear-gradient(left, #2e9f32 -2.06%, #42446e 200%);
  background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 200%);
  opacity: 0.7;
  z-index: 3;
  border-radius: 1px;
}

.footer__content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 1.1111111111em;
}

.footer__logo {
  margin-bottom: auto;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  overflow-wrap: break-word;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 1.1111111111em;
  font-size: 1.5rem;
}

.footer__contacts a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__contacts a:hover {
  color: #31903c;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .footer__contacts {
  color: #bdbdc9;
}

.theme_dark .footer__contacts a:hover {
  color: #fff;
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 1.1111111111em;
}

.footer__contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-wrap: break-word;
  min-height: 30px;
}

.nav-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.1111111111em;
}

.nav-footer__list a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-footer__list a:hover {
  color: #31903c;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .nav-footer__list {
  color: #bdbdc9;
}

.theme_dark .nav-footer__list a:hover {
  color: #fff;
}

.nav-footer__item {
  text-align: center;
}

.main-page__tech-stack {
  margin-bottom: 180px;
}

.main-page__projects {
  margin-bottom: 180px;
}

.main-page__contacts {
  margin-bottom: 180px;
}

.main-screen {
  min-height: 100vh;
  max-height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.main-screen__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  padding: 140px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.main-screen__photo {
  max-width: 22.5rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main-screen__photo::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, #42446e), color-stop(0%, #2f9d34), color-stop(100%, #42446e), color-stop(200%, #2f9d34));
  background: -o-linear-gradient(top, #42446e -100%, #2f9d34 0%, #42446e 100%, #2f9d34 200%);
  background: linear-gradient(180deg, #42446e -100%, #2f9d34 0%, #42446e 100%, #2f9d34 200%);
  z-index: 1;
}

.main-screen__photo img {
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 9px transparent solid;
}

.tech-stack__headings:not(:last-child) {
  margin-bottom: 100px;
}

.tech-stack__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 7.5rem);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 60px;
  grid-auto-flow: dense;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-tech-stack {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 100%;
}

.card-tech-stack img {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.projects__headings:not(:last-child) {
  margin-bottom: 100px;
}

.project__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -25px;
}

.project__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333333333%;
          flex: 1 1 33.3333333333%;
}

.card-project {
  margin: 0 25px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.291);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.291);
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  min-width: 320px;
}

.theme_dark .card-project {
  background: #2b2a33;
}

.card-project__picture {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 61%;
  cursor: pointer;
}

.card-project__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: top 5s;
  -o-transition: top 5s;
  transition: top 5s;
}

.card-project__content {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.card-project__title {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.19;
  color: #000000;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.card-project__title:not(:last-child) {
  margin-bottom: 0.7142857143em;
}

.theme_dark .card-project__title {
  color: #fff;
}

.card-project__info {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #666666;
  font-weight: 300;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.theme_dark .card-project__info {
  color: #fff;
}

.card-project__info:not(:last-child) {
  margin-bottom: 0.5555555556em;
}

.card-project__technologies {
  line-height: 1.46;
  font-size: 0.875rem;
  font-weight: 300;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.theme_dark .card-project__technologies {
  color: #bdbdc9;
}

.card-project__technologies_fw-normal {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
}

.card-project__technologies:not(:last-child) {
  margin-bottom: 1.0714285714em;
}

.links-card-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-card-project__item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
}

.links-card-project__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  border: 1px solid rgba(66, 68, 110, 0.1843137255);
  -webkit-transition: color 0.3s, border 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, border 0.3s, -webkit-transform 0.3s;
  -o-transition: color 0.3s, border 0.3s, transform 0.3s;
  transition: color 0.3s, border 0.3s, transform 0.3s;
  transition: color 0.3s, border 0.3s, transform 0.3s, -webkit-transform 0.3s;
  padding: 4px 10px;
  border-radius: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme_dark .links-card-project__link {
  color: #bdbdc9;
}

.theme_dark .links-card-project__link {
  border: 1px solid #535353;
}

.theme_dark .links-card-project__link:hover {
  border: 1px solid #fff;
  color: #fff;
}

.links-card-project__link:hover {
  border: 1px solid #31903c;
  color: #31903c;
}

.links-card-project__link:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.links-card-project__text {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__headings:not(:last-child) {
  margin-bottom: 100px;
}

.contacts__wrapper {
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.contacts__wrapper > *:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contacts__wrapper > *:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contacts__content {
  position: relative;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  padding: 50px 100px;
  overflow: hidden;
}

.contacts__headline-text {
  position: relative;
  z-index: 4;
  color: #fff;
}

.contacts__background {
  z-index: 1;
}

.contacts__column {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  margin-left: -50px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.291);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.291);
  overflow: hidden;
}

@media (min-width: 47.9375em) {
  .header__logo {
    margin-bottom: auto;
  }

  .menu-header__round-buttons {
    margin-bottom: auto;
  }

  .main-screen {
    padding: 100px 0;
  }

  .main-screen__gradient-highlight {
    white-space: nowrap;
  }
}

@media (max-width: 68.125em) {
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__wrapper > *:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .contacts__wrapper > *:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .contacts__content {
    padding: 50px;
  }

  .contacts__column {
    margin-left: 0px;
  }
}

@media (max-width: 64.0625em) {
  .round-buttons {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .menu-header__list {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .footer__contacts {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .footer__buttons {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .nav-footer__list {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .main-screen__wrapper {
    padding: 100px 0;
  }
}

@media (max-width: 63.9375em) {
  .round-buttons {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .menu-header__list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .footer__contacts {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .footer__buttons {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .nav-footer__list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 48.0625em) {
  .main-screen__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 47.9375em) {
  .icon-menu {
    -ms-touch-action: none;
        touch-action: none;
    display: block;
    position: relative;
  }

  .header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__container::before {
    content: "";
    position: absolute;
    right: 0px;
    width: 100%;
    bottom: -2px;
    height: 110%;
    background: rgba(255, 255, 255, 0.9607843137);
    opacity: 1;
    z-index: 2;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
  }

  .theme_dark .header__container::before {
    background: rgba(28, 27, 34, 0.9921568627);
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
  }

  .header__container::after {
    content: "";
    position: absolute;
    right: 0px;
    width: 100%;
    bottom: -2px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(-102.06%, #2e9f32), to(#42446e));
    background: -o-linear-gradient(left, #2e9f32 -102.06%, #42446e 100%);
    background: linear-gradient(90deg, #2e9f32 -102.06%, #42446e 100%);
    opacity: 0.7;
    z-index: 3;
    border-radius: 2px;
  }

  .theme_dark .header__container::after {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.06%, #2e9f32), color-stop(200%, #42446e));
    background: -o-linear-gradient(left, #2e9f32 -2.06%, #42446e 200%);
    background: linear-gradient(90deg, #2e9f32 -2.06%, #42446e 200%);
  }

  .header {
    position: fixed;
  }

  .menu-header__body {
    overflow: auto;
    -ms-touch-action: auto;
        touch-action: auto;
    z-index: 1;
    position: absolute;
    top: -10080px;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
        -ms-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
    background: rgba(255, 255, 255, 0.9607843137);
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 102vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 15px;
    -webkit-transition: top 0s 0.5s, -webkit-transform 0.5s;
    transition: top 0s 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0s 0.5s;
    transition: transform 0.5s, top 0s 0.5s;
    transition: transform 0.5s, top 0s 0.5s, -webkit-transform 0.5s;
    row-gap: 60px;
    margin-top: -70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: rgba(46, 159, 50, 0.6352941176) 3px solid;
  }

  .theme_dark .menu-header__body {
    background: rgba(28, 27, 34, 0.9568627451);
  }

  ._menu-open .menu-header__body {
    top: 70px;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .menu-header__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer__container {
    padding-bottom: 30px;
  }

  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .nav-footer__list {
    font-size: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .main-screen__wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .main-screen__wrapper {
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 2rem;
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 10% 0rem 1fr 0rem 10%;
    grid-template-columns: 10% 1fr 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -ms-grid-rows: auto 2rem auto;
        grid-template-areas: "text text text" ". photo .";
  }

  .main-screen__headline-text {
    grid-area: text;
  }

  .main-screen__photo {
    grid-area: photo;
    max-width: none;
  }

  .card-project {
    min-width: 320px;
  }
}

@media (max-width: 47.9375em){

  .main-screen__headline-text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .main-screen__photo {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media (max-width: 37.5em) {
@supports (font-size: clamp( 2.25rem , 0.6841637011rem  +  7.8291814947vw , 3.625rem )) {
    .headline-text {
      font-size: clamp( 2.25rem , 0.6841637011rem  +  7.8291814947vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 0.6841637011rem  +  7.8291814947vw , 3.625rem )) {
    .headline-text {
      font-size: calc(2.25rem + 1.375 * (100vw - 20rem) / 17.5625);
    }
}

@supports (font-size: clamp( 2rem , 0.8612099644rem  +  5.6939501779vw , 3rem )) {
    .title {
      font-size: clamp( 2rem , 0.8612099644rem  +  5.6939501779vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 0.8612099644rem  +  5.6939501779vw , 3rem )) {
    .title {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 17.5625);
    }
}

@supports (font-size: clamp( 1.625rem , 1.1979537367rem  +  2.1352313167vw , 2rem )) {
    .subtitle {
      font-size: clamp( 1.625rem , 1.1979537367rem  +  2.1352313167vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.1979537367rem  +  2.1352313167vw , 2rem )) {
    .subtitle {
      font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 17.5625);
    }
}

@supports (margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem )) {
    .main-page__tech-stack {
      margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem )) {
    .main-page__tech-stack {
      margin-bottom: calc(7.5rem + 3.75 * (100vw - 20rem) / 17.5625);
    }
}

@supports (margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem )) {
    .main-page__projects {
      margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem )) {
    .main-page__projects {
      margin-bottom: calc(7.5rem + 3.75 * (100vw - 20rem) / 17.5625);
    }
}

@supports (margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem )) {
    .main-page__contacts {
      margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 7.5rem , 3.2295373665rem  +  21.3523131673vw , 11.25rem )) {
    .main-page__contacts {
      margin-bottom: calc(7.5rem + 3.75 * (100vw - 20rem) / 17.5625);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem )) {
    .tech-stack__headings:not(:last-child) {
      margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem )) {
    .tech-stack__headings:not(:last-child) {
      margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 17.5625);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem )) {
    .projects__headings:not(:last-child) {
      margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem )) {
    .projects__headings:not(:last-child) {
      margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 17.5625);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem )) {
    .contacts__headings:not(:last-child) {
      margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 0.903024911rem  +  14.2348754448vw , 6.25rem )) {
    .contacts__headings:not(:last-child) {
      margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 17.5625);
    }
}
}

@media (max-width: 34.4375em) {
  .tech-stack__cards {
    grid-template-columns: repeat(auto-fit, 6.25rem);
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 50px;
  }
}

@media (max-width: 31.25em) {
  .feedback-form__wrapper {
    padding: 25px 30px;
  }

  .footer__content-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contact {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    word-break: break-all;
  }

  .contacts__content {
    padding: 25px 30px;
  }
}

@media (max-width: 28.3125em) {
  .tech-stack__cards {
    grid-template-columns: repeat(auto-fit, 7.5rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 26.8125em) {
  .headings__title:not(:last-child) {
    margin-bottom: 0.625em;
  }

  .nav-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-screen__wrapper {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  .project__cards {
    margin: 0 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-project {
    min-width: 250px;
    margin: 0 0px;
  }
}

@media (max-width: 26.5em) {
  .main-screen__wrapper {
    -ms-grid-columns: 0% 1fr 0%;
    grid-template-columns: 0% 1fr 0%;
  }
}

@media (max-width: 22.5em) {
  .tech-stack__cards {
    grid-template-columns: repeat(auto-fit, 6.875rem);
  }
}

@media (max-width: 20.0625em) {
  .headline-text {
    font-size: 2.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 18.8125em) {
  .main-screen__gradient-highlight {
    word-break: break-all;
    white-space: normal;
  }
}

@media (max-width: 17.4375em) {
  .logo {
    font-size: min(36px, 2rem);
  }

  .headline-text {
    word-break: break-all;
    white-space: normal;
  }

  .title {
    overflow-wrap: break-word;
  }

  .header__container {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 37.5em) and (min-width: 37.5625em) {
  .headline-text {
    font-size: inherit;
  }

  .title {
    font-size: inherit;
  }

  .subtitle {
    font-size: inherit;
  }

  .main-page__tech-stack {
    margin-bottom: inherit;
  }

  .main-page__projects {
    margin-bottom: inherit;
  }

  .main-page__contacts {
    margin-bottom: inherit;
  }

  .tech-stack__headings:not(:last-child) {
    margin-bottom: inherit;
  }

  .projects__headings:not(:last-child) {
    margin-bottom: inherit;
  }

  .contacts__headings:not(:last-child) {
    margin-bottom: inherit;
  }
}